{
  "ansibleFile": "Chromium Vimium extension configuration.",
  "ansibleConfig": "Ansible cannot add this config automatically.",
  "ansibleInstallSteps": "Go to Chromium extensions. Go to Vimium options. Load this json file via the Restore button. Click Save Changes button.",
  "settingsVersion": "1.66",
  "keyMappings": "\nmap j scrollDown \nmap k scrollUp \nmap H scrollLeft \nmap L scrollRight \nmap , previousTab \nmap . nextTab \nmap h goBack \nmap l goForward \nmap [ goPrevious \nmap ] goNext \nmap r reload",
  "linkHintCharacters": "sadfjklewcmpgh",
  "linkHintNumbers": "0123456789",
  "newTabUrl": "about:newtab",
  "scrollStepSize": 60,
  "smoothScroll": true,
  "grabBackFocus": false,
  "searchEngines": "w: https://www.wikipedia.org/w/index.php?title=Special:Search&search=%s Wikipedia\n",
  "searchUrl": "https://www.google.com/search?q=",
  "exclusionRules": [
    {
      "pattern": "https?://mail.google.com/*",
      "passKeys": ""
    }
  ]
}

