{
  "ansibleInstallNotes": "Go to Chromium extensions. Go to Vimium options. Load this json file via the Restore button. Click Save Changes button.",
  "settingsVersion": "1.66",
  "smoothScroll": true,
  "scrollStepSize": 60,
  "grabBackFocus": false,
  "linkHintCharacters": "asdfghjkl",
  "newTabUrl": "about:newtab",
  "searchUrl": "https://www.google.com/search?q=",
  "searchEngines": "w: https://www.wikipedia.org/w/index.php?title=Special:Search&search=%s Wikipedia\n",
  "keyMappings": "\nmap j scrollDown \nmap k scrollUp \nmap H scrollLeft \nmap L scrollRight \nmap , previousTab \nmap . nextTab \nmap h goBack \nmap l goForward \nmap [ goPrevious \nmap ] goNext \nmap r reload \nmap o Vomnibar.activate \nmap O Vomnibar.activateEditUrl \nmap t createTab \nmap gu goUp \nmap gr goUp \nmap / enterFindMode \nmap n performFind \nmap N performBackwardsFind \nmap x removeTab \nmap yt duplicateTab \nmap yt duplicateTab \nmap < moveTabLeft \nmap > moveTabRight \nmap X restoreTab \nmap f LinkHints.activateMode \nmap F LinkHints.activateModeToOpenInNewForegroundTab \nmap yy copyCurrentUrl",
  "exclusionRules": [
    {
      "pattern": "https?://mail.google.com/*",
      "passKeys": ""
    }
  ]
}

